<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    Hello World!
    <br />
    <%= 5*9 %>
    <br />
    <%= name.toUpperCase() %>

    <% if(10>5) { %>
         
        <h1>10 is greater than 5</h1>
        
    <% } %>    

    
</body>
</html>